<!DOCTYPE html>
<html lang="en">

{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Search example</title>
    <link href="{% static "locus/css/loader.css" %}" rel="stylesheet">
</head>
<body>

<h1>Search form</h1>

<div id="content">
    <label for="search-input"></label><input id="search-input" type="text" size="100"/>
    <br/>
    <input id="search-submit" type="button" value="Search"/>
</div>

<div id="wait"></div>

<script src="{% static "locus/js/crawler_example/websocket.js" %}"></script>
</body>
</html>